/*
* @Describe: ROS
* @Author Blog: http://www.wangyingran.com
*/

@charset "utf-8";

/* reset
-----------------------------------------------*/
html { color:#333; background:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body{ overflow:hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin:0; padding:0;}
body,button,input,select,textarea { font:12px/1 "微软雅黑", "arial", "Hiragino Sans GB";}
button,input,select,textarea { font-size:100%; outline:none;}
table { border-collapse:collapse; border-spacing:0;}
th { text-align:inherit;}
button,fieldset,img { border:0;}
iframe { display:block;}
address,caption,cite,code,dfn,em,i,th,var { font-style:normal; font-weight:500;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:500;}
q:before,q:after { content:'';}
ins,a { text-decoration:none;}
a{ color:#333;}
a:hover { color:#000;}

/* common
-----------------------------------------------*/
.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix { zoom:1;}
.fl { float:left;}
.fr { float:right;}

.mask { position:fixed; left:0; top:0; bottom:0; right:0; z-index:9999; background:#000; opacity:0;}

/* background-image
-----------------------------------------------*/
.navbar-wraper,
.navbar .avatar,
.navbar .indicator ul li span.indicator-num,
.navbar .indicator ul li.active span.indicator-active,
.dialog-handle span
{ background-image:url(../images/desktop/sprite_main.png); background-repeat:no-repeat;}

.contextmenu-a .icon-arrow,
.contextmenu .icon,
.app-content .app-item .app-add
{ background-image:url(../images/desktop/all-icons.png); background-repeat:no-repeat;}

/* desktop
-----------------------------------------------*/
#loading{ position:absolute; left:0; top:0; z-index:10000; width:100%; height:100%; background:#fff url(../images/desktop/loading.gif) center no-repeat;}
.desk{ position:absolute; z-index:5; width:100%; height:100%; overflow:hidden; background:url(../images/desktop/transparent-bg.png);}
.desk-content{ position:relative; margin:80px 120px;}
.app-content{ position:absolute; left:0; top:0; width:100%; height:100%; opacity:1;}
.app-content .app-item{ position:absolute; left:0; top:0; width:88px; height:88px; cursor:pointer;}
.app-content .app-item:hover{ background:url(../images/desktop/app-mouseover-bg.png) no-repeat;}
.app-content .app-item .app-icon{ width:50px; height:50px; margin:0 auto; padding:6px 0;}
.app-content .app-item .app-icon img{ display:block; width:50px; height:50px;}
.app-content .app-item .app-name{ text-align:center; text-shadow:1px 1px 1px #666;}
.app-content .app-item .app-name span{ display:inline-block; height:20px; margin-left:5px; background:url(../images/desktop/app-name-bg-right.png) right no-repeat; color:#fff;}
.app-content .app-item .app-name i{ position:relative; right:10px; display:block; height:20px; line-height:20px; padding-left:10px; background:url(../images/desktop/app-name-bg-left.png) left no-repeat;}

.app-content .app-item .app-add{ display:block; width:50px; height:50px; background-position:-380px -500px;}

.task-bg{ position:absolute; bottom:0; width:100%; height:64px; background:url(../images/desktop/task-bg.png) bottom repeat-x;}
.bottombar-bg{ position:absolute; bottom:0; width:100%; height:130px; background:url(../images/desktop/bottombar-bg.png) repeat-x;}

/* task
-----------------------------------------------*/
.task{ position:absolute; z-index:1; bottom:0; left:0; width:100%;}
.task-content{ float:right; height:64px; overflow:hidden;}
.task-content ul{ float:right; height:100%;}
.task-content ul li{ float:left; position:relative; width:112px; height:64px; margin-left:2px; overflow:hidden; background:url(../images/desktop/task-nor.png) no-repeat; cursor:pointer;}
.task-content ul li.active{background:url(../images/desktop/task-cur.png) no-repeat;}
.task-content ul li:hover{ background:url(../images/desktop/task-hover.png) no-repeat;}
.task-app-icon{ position:absolute; left:5px; top:18px;}
.task-app-icon img{ display:block; width:32px; height:32px;}
.task-app-title{ width:60px; height:20px; line-height:20px; overflow:hidden; margin:30px 0 0 45px; color:#fff; text-shadow:1px 1px 1px #666;}

.task-prev{ display:none; float:right; width:56px; height:64px; background:url(../images/desktop/task-page-l.png) no-repeat;}
.task-next{ display:none; float:right; width:56px; height:64px; margin-left:2px; background:url(../images/desktop/task-page-r.png) no-repeat;}
.task-prev span,
.task-next span{ display:block; width:16px; height:26px; margin:20px 0 0 20px; background-image:url(../images/desktop/task_page.png); background-repeat:no-repeat; cursor:pointer;}
.task-prev.disabled .task-btn-prev{ background-position:-19px -103px;}
.task-next.disabled .task-btn-next{ background-position:-73px -103px;}
.task-btn-prev{ background-position:-19px -56px;}
.task-btn-next{ background-position:-73px -56px;}
.task-btn-prev:hover{ background-position:-19px -8px;}
.task-btn-next:hover{ background-position:-73px -8px;}


/* navbar
-----------------------------------------------*/
.navbar{ display:none; position:absolute; left:0; top:0; z-index:1; padding-top:8px;}
.navbar-wraper{ width:240px; height:40px; background-position:-140px -44px;}
.navbar .avatar{ position:absolute; left:6px; top:0; width:32px; height:32px; overflow:hidden; background-position:-418px -117px;}
.navbar .avatar img{ display:block; width:24px; height:24px; margin:3px 0 0 4px; cursor:pointer;}
.navbar .indicator{ padding-left:45px;}
.navbar .indicator ul{ padding-top:3px; font-size:0;}
.navbar .indicator ul li{ display:inline-block; width:20px; height:20px; margin:0 2px; text-indent:-9999em;}
.navbar .indicator ul li.active{ position:relative;}
.navbar .indicator ul li.active span.indicator-active{ display:block; position:absolute; left:-5px; top:-6px; z-index:1; width:26px; height:26px; background-position:-355px -112px;}
.navbar .indicator ul li span.indicator-num{ display:inline-block; width:20px; height:20px; cursor:pointer;}
.navbar .indicator ul li.active span.indicator-num{ position:relative; z-index:2;}
.navbar .indicator ul li span.indicator-num.indicator-num-1{ background-position:-336px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-2{ background-position:-366px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-3{ background-position:-396px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-4{ background-position:-426px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-5{ background-position:-456px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-1:hover,
.navbar .indicator ul li.active span.indicator-num.indicator-num-1{ background-position:-140px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-2:hover,
.navbar .indicator ul li.active span.indicator-num.indicator-num-2{ background-position:-180px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-3:hover,
.navbar .indicator ul li.active span.indicator-num.indicator-num-3{ background-position:-220px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-4:hover,
.navbar .indicator ul li.active span.indicator-num.indicator-num-4{ background-position:-260px -90px;}
.navbar .indicator ul li span.indicator-num.indicator-num-5:hover,
.navbar .indicator ul li.active span.indicator-num.indicator-num-5{ background-position:-300px -90px;}

/* wallpaper
-----------------------------------------------*/
.wallpaper{ position:absolute; left:0; top:0; z-index:-10; width:100%; height:100%; overflow:hidden;}
.wallpaper img{ display:block; position:absolute; left:0; top:0; width:100%; height:100%;}

/* dialog
-----------------------------------------------*/
.dialog{ position:relative; left:0; top:0; overflow:hidden; background:#fff; background-clip:padding-box; border:1px #b8cbcb solid; border:1px rgba(0, 0, 0, 0.1) solid;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3); -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3); box-shadow:3px 3px 10px rgba(0,0,0,0.3);}
.dialog-head{ position:relative; height:28px; border-bottom:1px #ddd solid; background-color:#f5f5f5;
background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#fff), to(#f0f0f0), color-stop(0.3,#fff));
background:-moz-linear-gradient(0% 0% 270deg, #fff, #fff, #f0f0f0 100%);
}
.dialog-logo{ position:absolute; left:8px; top:4px;}
.dialog-logo-icon{ display:block; width:20px; height:20px;}
.dialog-title{ height:28px; line-height:28px; text-align:center; cursor:move;}
.dialog-handle{ position:absolute; top:7px; right:8px; font-size:0;}
.dialog-handle span{ display:inline-block; width:14px; height:14px; margin-left:8px; cursor:pointer;}
.dialog-minimize{ background-position:-9px -60px;}
.dialog-minimize:hover{ background-position:-9px -32px;}
.dialog-maximize{ background-position:-38px -60px;}
.dialog-maximize:hover{ background-position:-38px -31px;}
.dialog-close{ background-position:-67px -60px;}
.dialog-close:hover{ background-position:-67px -31px;}
.dialog-restore{ background-position:-97px -61px;}
.dialog-restore:hover{ background-position:-97px -32px;}
.dialog-content{ position:relative; width:100%; height:100%;}
.dialog-content iframe{ border:0;}
.iframeMask{ position:absolute; left:0; top:0; background:none; width:100%; height:100%; filter:alpha(opacity=0); opacity:0;}
.dialog-foot{}

/* login
-----------------------------------------------*/
.login { position:fixed; left:50%; top:-300px; z-index:10000; width:330px; height:280px; margin:-140px 0 0 -150px; background:#fff; background-clip:padding-box; border:1px #b8cbcb solid; border:1px rgba(0, 0, 0, 0.1) solid;
-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3); -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3); box-shadow:3px 3px 10px rgba(0,0,0,0.3);
}
.login .close { position:absolute; right:-10px; top:-10px; width:28px; height:28px; cursor:pointer; background:url(../images/icons/login-close.png);}
.login .message { display:none; position:absolute; right:0; top:0; z-index:1; height:36px; padding:0 8px; line-height:36px; border:1px #F0DBB4 solid; background:#fffcee; color:#ce8f22;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.login .form-wraper{ position:absolute; left:0; top:0; width:290px; height:240px; margin:20px; overflow:hidden;}
.login .item { margin-bottom:15px;}
.login .item.error { position:relative;}
.login .item.error .input{ border-color:#F0DBB4;}
.login .item.error .message { display:block;}
.login .item .input { display:block; width:272px; height:20px; line-height:20px; padding:8px; font-size:14px; border:1px #ccc solid;
-moz-box-shadow:1px 2px 2px #f1f1f1 inset; -webkit-box-shadow:1px 2px 2px #f1f1f1 inset; box-shadow:1px 2px 2px #f1f1f1 inset;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.login .item .input:focus { border-color:#F0DBB4;}
.login .item .register-text { color:#999;}
.login .item .register-text a { color:#999;}
.login .item .register-text a:hover { color:#6dbb4a; border-bottom:1px #6dbb4a dotted;}

.login .item .button { width:290px; height:40px; line-height:40px; font-size:14px; color:#fff; cursor:pointer;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.login .item .button:active{ -moz-box-shadow:1px 1px 5px rgba(0,0,0,0.2) inset; -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.2) inset; box-shadow:1px 1px 5px rgba(0,0,0,0.2) inset;}
#signin{ position:absolute; left:0; top:0;}
#register{ position:absolute; left:330px; top:0; opacity:0;}
#signin .header { height:38px; line-height:38px; margin-bottom:15px; text-align:center; font-size:30px; color:#999;}
#signin .button { background:#78CD51;}
#signin .button:hover { background:#6dbb4a;}
#register .button { background:#58c9f3;}
#register .button:hover { background:#53bee6;}

/* contextmenu
-----------------------------------------------*/
.contextmenu{ display:none; position:absolute; z-index:10001; left:0; top:0;}
.contextmenu-style{ width:138px; background:#fff; background-clip:padding-box; border:1px #b8cbcb solid; border:1px rgba(0, 0, 0, 0.1) solid;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3); -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3); box-shadow:3px 3px 10px rgba(0,0,0,0.3);}
.contextmenu-a, .contextsubmenu-a{ display:block; position:relative; height:24px; padding:0 25px; line-height:24px; margin:1px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.contextmenu-a:hover, .contextsubmenu-a:hover{ background:#348ccc; color:#fff;}
.contextmenu-a .icon-arrow{ display:block; position:absolute; right:10px; top:8px; width:4px; height:7px; background-position:-128px -462px;}
.contextmenu-a:hover .icon-arrow{ background-position:-148px -462px;}
.contextsubmenu{ position:relative;}
.contextsubmenu-wrap{ display:none; position:absolute; left:138px; top:0;}
.contextsubmenu-ul{ margin-left:3px;}
.contextsubmenu:hover .contextsubmenu-wrap{ display:block;}
.contextmenu-li .line{ display:block; margin:3px 1px; height:1px; overflow:hidden; background:#e2e3e4;}
.contextsubmenu-a{ position:relative;}
.contextsubmenu-a.on .icon-current{ display:block;}
.contextmenu .icon{ display:block; position:absolute; left:4px; top:4px; width:16px; height:16px;}
.contextmenu .icon-current{ display:none; background-position:-100px -460px;}
.contextmenu .icon-folder{ background-position:-160px -80px;}
.contextmenu .icon-app{ background-position:-140px -80px;}
.contextsubmenu-a.disabled{ color:#999;}
.contextsubmenu-a.disabled:hover{ background:none; color:#999; cursor:default;}

/* lock-desk
-----------------------------------------------*/
.lock-desk{ position:absolute; left:50%; top:50%; z-index:2; width:180px; height:200px; padding:20px 20px 0 20px; margin:-111px 0 0 -111px; background:#fff; background-clip:padding-box; border:1px #b8cbcb solid; border:1px rgba(0, 0, 0, 0.1) solid;
-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3); -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3); box-shadow:3px 3px 10px rgba(0,0,0,0.3);}
.lock-desk-avatar{ width:104px; height:104px; margin:0 auto 15px auto;}
.lock-desk-avatar img{ display:block; width:100px; height:100px; border:2px #fff solid;
-moz-border-radius:50px; -webkit-border-radius:50px; border-radius:60px;
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3); -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3); box-shadow:3px 3px 10px rgba(0,0,0,0.3);}
.lock-desk-user{ width:180px; height:16px; margin-bottom:10px; line-height:16px; text-align:center; color:#333;}
.lock-desk-form{ position:relative; width:180px; height:32px;}
.lock-desk-input{ width:137px; height:20px; line-height:20px; padding:5px 35px 5px 5px; font-size:14px; color:#333; border:1px #ccc solid;
-moz-box-shadow:1px 2px 3px #ddd inset; -webkit-box-shadow:1px 2px 3px #ddd inset; box-shadow:1px 2px 3px #ddd inset;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.lock-desk-enter{ display:none; position:absolute; right:8px; top:8px; width:16px; height:16px; background:url(../images/desktop/lock-desk-enter.png) no-repeat; cursor:pointer;}

/* appCenter
-----------------------------------------------*/
.appCenter{ position:relative; width:800px; height:500px; background:#fff; overflow:hidden;}
.appCenter-nav{ position:absolute; left:0; top:0; width:70px; height:500px; background:#f5f5f5; border-right:1px #ddd solid;}
.appCenter-nav ul{ width:60px; padding:10px 0 0 10px;}
.appCenter-nav ul li{ width:60px; height:32px; margin-bottom:2px;}
.appCenter-nav ul li.active{ position:relative;}
.appCenter-nav ul li.active a{ position:absolute; border:1px #ddd solid; border-right:none; background:#fff; color:#333;}
.appCenter-nav ul li.active a:hover{ background:#fff;}
.appCenter-nav ul li a{ display:block; width:60px; height:30px; line-height:30px; text-align:center; border-radius:3px 0 0 3px; color:#08c;}
.appCenter-nav ul li a:hover{ background:#e9e9e9;}
.appCenter-centent{ width:500px; height:480px; margin:15px 0 0 90px;}
.appCenter-centent-nav{ border-bottom:1px #ddd solid;}
.appCenter-centent-nav ul{ height:26px; padding:0 10px;}
.appCenter-centent-nav ul li{ float:left; width:60px; height:26px; margin-right:5px;}
.appCenter-centent-nav ul li.active{ position:relative;}
.appCenter-centent-nav ul li.active a{ position:absolute; top:1px; left:0; font-weight:bold; border:1px #ddd solid; border-bottom-color:#fff;}
.appCenter-centent-nav ul li.active a:hover{ color:#333;}
.appCenter-centent-nav ul li a{ display:block; width:60px; height:24px; line-height:24px; text-align:center; border:1px #fff solid; border-radius:3px 3px 0 0;}
.appCenter-centent-nav ul li a:hover{ color:#08c;}
.appCenter-centent-list{ margin:20px 0;}
.appCenter-centent-list .app-item{ width:480px; height:50px; padding:10px; border-bottom:1px #ddd dotted; cursor:default;}
.appCenter-centent-list .app-item:hover{ background:#fffff1;}
.appCenter-centent-list .app-item .app-icon{ float:left; width:50px; height:50px;}
.appCenter-centent-list .app-item .app-icon img{ display:block; width:50px; height:50px;}
.appCenter-centent-list .app-item .app-intro{ float:left; width:230px; margin-left:10px; padding:5px 0;}
.appCenter-centent-list .app-item .app-intro .app-title{ width:230px; height:20px; line-height:20px; overflow:hidden; font-weight:bold;}
.appCenter-centent-list .app-item .app-intro .app-description{ width:230px; height:20px; line-height:20px; overflow:hidden; color:#999;}
.appCenter-centent-list .app-item .app-add{ float:right; width:50px; height:20px; margin-top:15px;}
.appCenter-centent-list .app-item .app-add .btn-addApp{ display:block; width:50px; height:20px; line-height:20px; background:#80b600; color:#fff; text-align:center; cursor:pointer; border-radius:3px;}
.appCenter-centent-list .app-item .app-add .btn-addApp:hover{ background:#75a700;}
.appCenter-centent-list .app-item .app-add .btn-addApp.disabled{ background:#bbb;}

/* pagination
-----------------------------------------------*/
.pagination li{ float:left; margin-right:5px;}
.pagination li a,
.pagination li span{ display:block; line-height:26px; padding:0 10px; background:#f5f5f5; text-align:center; color:#666; border-radius:3px;}
.pagination li a:hover{ background:#e9e9e9;}
.pagination li.active span{ background:#08c; color:#fff;}

/* other
-----------------------------------------------*/
#media_floatingBar{ display:none;}